{% load static %}

<div class="banner">
    <h1>Undergraduate Business Association @ NYU Shanghai</h1>
</div>

<div class="mission">
    <h1>Our Mission</h1>
    <p>
        "The mission of the Undergraduate Business Association (UBA) is to nurture competent, innovative, and thoughtful business leaders throughout the discovery of career pathways, development of professional skills, and dedication to global impact." 

    </p>

    <div class="whatisinfo">
        <div>
        <h5>General Members</h5>
        <h3>70+</h3>
        </div>
        
        <div>
        <h5>Locations</h5>
        <h3>
            Shanghai & NYC
        </h3>
        </div>
        
        <div>
        <h5>
            Founded in 
        </h5>
        <h3>
            2013
        </h3>
        </div>
    </div>
    
</div>

<div id = '-about_us'></div>

<div class="eboard-general">
    <div id = "title">
        OUR TEAM      
    </div>

    <div id = "eboard-lead">
        About us and what we do.
    </div>
    
    {% if member_list %}
        
    <div class="Eboard">
        <ul class="member_list">
            {% for member in member_list %}
            <li class="member" id="{{ member.name }}">
                <img class="photo" src="{% static 'images/members/'|add:member.name|add:'.png' %}" alt="{{ member.name }}'s photo">
                <p>{{ member.role }}: {{ member.name }}</p>
                <!-- Introduction Box -->
                <div class="intro-box">
                    <!-- Introduction content goes here -->
                    <p>
                        {{ member.intro }}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    {% endif %}
    


    <div id = "-events">

    </div>
    <div class="events">
        <h1 class="skew-left">OUR EVENTS</h1>
        <h4 class="skew-left">Weekly Held Workshops, Speaker Series, Competitions & Company Collaborations</h4>
        <div class = 'skew-left'>
            <div class = 'weekly-held-events'>
                
            </div>
        </div>



<div class="events_config">

{% if event_list %}
    {% for event in event_list %}
        {% if event.status == PAST %} <!-- Use lowercase "done" -->
            <div class="event" id="{{ event.title }}">
                <!-- Event Photo -->
                <div class="photo-event">
                    <!--<img src="{% static 'images/'|add:event.title|add:'.jpeg' %}" alt="Event Photo">--->
                </div>
                <div class="event-overlay">
                    <p id="events_config_1">{{ event.category }}</p>
                    <p id="events_config_2">{{ event.title }} - {{ event.date }}</p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% else %}
<p>No events available to display</p>
{% endif %}
</div>

<!-- <div class="project">
    <h2>View Our Projects Here!</h2>
</div>

<div class="fun">
    <div id="point-system">
        <h2>Member board point system</h2>
        <a>Link to our member point system</a>
    </div>
</div> -->

<div class = "notice">
    <img src="{% static 'images/brochure2.png'%}" alt="Timeline-image" width="1100px"> 
    <img src="{% static 'images/brochure1.png'%}" alt="Timeline-image" width="1100px">
    

</div>

<!---<div id = "-contact_us"></div>
<div class="contact">
    <p id = "para">Contact Us</p>

    <p id = 'email'>
        @ <a href = 'https://www.instagram.com/uba.nyush '>Instagram</a>
    </p>
    <p id = 'email'>
        @ <a href = 'https://www.linkedin.com/company/uba-nyush/ '>Linkedin</a>
    </p>
    
    <div class = "emailus">
        
            SEND US A MESSAGE: @ fb.ubanyush@gmail.com
        
    </div>
</div>

<div class="footer">
 <!---
    <div class="location">
        Location: New Bund Campus, 567 West Yangsi Road, Pudong New District, Shanghai, China 
    </div>

    <div class="contact-info">
        Contact Info
    </div>

    <div class="copyright">
        Copyright 2023 - All Rights Reserved by UBA NYU Shanghai
    </div>
</div>-->   

  


<div class = 'footnote'>
    <img id = footer-logo src="{% static 'images/logo.png'%}" alt="logo" width = 50px>
    <p>@ Undergraduate Business Association · NYU Shanghai · 2023-2024</p>
</div>

  

