{% load static %}

<div class="banner">
    <h1>Undergraduate Business Association @ NYU Shanghai</h1>
</div>

<div class="members">
    <h1>Our Mission</h1>
    <p>
        "The mission of the Undergraduate Business Association (UBA) is to nurture competent, innovative, and thoughtful business leaders throughout the discovery of career pathways, development of professional skills, and dedication to global impact." 

    </p>
    <div class="whatisinfo">
        <div>
        <h5>General Members</h5>
        <h3>70+</h3>
        </div>
        
        <div>
        <h5>Locations</h5>
        <h3>
            Shanghai & NYC
        </h3>
        </div>
        
        <div>
        <h5>
            Founded in 
        </h5>
        <h3>
            2013
        </h3>
        </div>
    </div>
    
</div>

<div class="eboard-general">
    <div id = "title">
        OUR TEAM      
    </div>

    <div id = "eboard-lead">
        About us and what we do.
    </div>
    
    {% if member_list %}
        
    <div class="Eboard">
        <ul class="member_list">
            {% for member in member_list %}
            <li class="member" id="{{ member.name }}">
                <img class="photo" src="{% static 'images/members/'|add:member.name|add:'.png' %}" alt="{{ member.name }}'s photo">
                <p>{{ member.role }}: {{ member.name }}</p>
                <!-- Introduction Box -->
                <div class="intro-box">
                    <!-- Introduction content goes here -->
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    {% endif %}
    


    <div id = "events_link">

    </div>
    <div class="events">
        <h1 class="skew-left">OUR EVENTS</h1>
        <h4 class="skew-left">Weekly Held Events</h4>
        <div class = 'skew-left'>
            Coming soon!
        </div>

        <h4 class="skew-left">Future Events</h4>
        <div class = 'skew-left'>Coming soon!</div>
        <div class="events_config">
            
        </div>
        <h4 class="skew-left">Past Events</h4>
        {% if event_list %}
            {% for event in event_list %}
            <div class="event" id="{{ event.title }}">
                <!-- Event Photo -->
                <div class="event-overlay">
                    <p id="events_config_1">{{ event.category }}</p>
                    <p id="events_config_2">{{ event.title }} - {{ event.date }}</p>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No events available to display</p>
            {% endif %}
    </div>
    

<!-- <div class="project">
    <h2>View Our Projects Here!</h2>
</div>

<div class="fun">
    <div id="point-system">
        <h2>Member board point system</h2>
        <a>Link to our member point system</a>
    </div>
</div> -->


<div id = "contact_link"></div>
<div class="contact">
    <p id = "para">Contact Us</p>
    <p id = "email">
        @  <a href = '../email'>Email</a>
    <p id = 'email'>
        @ <a href = 'https://www.instagram.com/uba.nyush '>Instagram</a>
    </p>
    <p id = 'email'>
        @ <a href = 'https://www.linkedin.com/company/uba-nyush/ '>Linkedin</a>
    </p>
    </p>
    <div class = "emailus">
        <a href = "#">
            SEND US A MESSAGE
        </a>
    </div>
</div>

<div class="footer">
 <!---
    <div class="location">
        Location: New Bund Campus, 567 West Yangsi Road, Pudong New District, Shanghai, China 
    </div>

    <div class="contact-info">
        Contact Info
    </div>

    <div class="copyright">
        Copyright 2023 - All Rights Reserved by UBA NYU Shanghai
    </div>
</div>-->   

  




  

