{% load static %}

<div class="banner">
    <h1>Undergraduate Business Association @ NYU Shanghai</h1>
</div>

<div class="members">
    <h1>Our Team</h1>
    <h3>
        70+ General Members
    </h3>
    <h3>
        Selective Honors Group/Active Participants
    </h3>
    <h3>
        Founded in 2013 in Shanghai
    </h3>
    <h3>
        In Shanghai and NYC
    </h3>
</div>

<div class="Eboard">
    <p id = "title">
        <h2>Executive Board</h2>      
    </p>
    
    {% if member_list %}
<div>
    <ul class = "member_list">
        {% for member in member_list %}
        <li class="member" id="{{ member.name }}">
            
                <img class="photo" src="{% static 'images/members/'|add:member.name|add:'.png' %}" alt="{{ member.name }}'s photo">
                <p>{{ member.role }}: {{ member.name }}</p>   
            
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No members are available.</p>
    {% endif %}
    <!-- Add code here to display member images and names -->
    
</div>
</div>



<div class="events">
    <h1 class = "skew-left">Our Events</h1>
    <h4 class = "skew-left">
        Weekly held events [speaker series, company visits, collaboration projects, networking, competitions, business workshops & research publications etc.]
    </h4>
    <div class = "events_config">
    {%if event_list%} 
        {%for event in event_list%} 
    <div id = "{{ event.title }}">
        
    </div>
    </div>
    </div>
</div>

<div class="project">
    <h2>View Our Projects Here!</h2>
</div>

<div class="fun">
    <div id="point-system">
        <h2>Member board point system</h2>
        <a>Link to our member point system</a>
    </div>
</div>

<div class="contact">
    <h1>Contact Us!</h1>
</div>


  




  

