/* Add this to the top of your styles.css file */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



/* Reset default margins and paddings */
body, h1, h2, ul {
    margin: 0;
    padding: 0;
}

.body {
    
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: blanchedalmond;
    

}
    
    
.header {
    
    background-color: rgb(34, 58, 119);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}


.logo-title {
    width: 50px;
    height: 50px;
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navigation a {
    color: rgb(248, 245, 248);
    text-decoration: none;
}

.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar li {
    margin-right: 20px;
}

.navbar li:last-child {
    margin-right: 0;
}
.main-content {
    text-align: center;
    padding: 20px;
}

.banner { 
    background-image: url("../images/shc.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    padding: 250px;
    clip-path: ellipse(71% 55% at 51% 55%);
} 

.banner h1 {
    color: rgb(0, 45, 199);
    text-shadow: 4px 4px 4px rgba(238, 11, 11, 0.979);

}

.members {
    margin-top: 70px;
    background-image: url('../images/shanghai.png');
    background-size: cover;
    clip-path: ellipse(50% 48% at 50% 50%);
    padding:200px

}
 .Eboard{
    color: rgb(1, 9, 16);
    list-style: none;
    display: flexbox;
    
 }

 .member{
    background-color: antiquewhite;
 }


.photo{
    height: 150px; 
    width: 150px;
    padding: 10px;
    clip-path: ellipse(50% 48% at 50% 50%);
    text-align: center;
}









 .events{
    background-color: aliceblue;
    padding: 200px;
 }
.project{
    background-color: rgb(255, 0, 238);
    padding: 200px;

}

.fun{
    background-color: rgb(145, 255, 0);
    padding: 200px;
}

.contact{
    background-color: rgb(0, 255, 255);
    padding: 200px;
}