aif360==0.5.0
aiohttp==3.8.4
aiosignal==1.3.1
annotated-types==0.5.0
anyio==3.6.2
appdirs==1.4.4
appnope @ file:///Users/builder/ci_310/appnope_1642500616005/work
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.7.2
astor==0.8.1
astroid==2.15.0
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
async-timeout==4.0.2
attrs==22.2.0
autopep8==1.6.0
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
bcrypt==4.0.1
beautifulsoup4==4.12.0
bleach==6.0.0
Bottleneck @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_29949159-f86f-474b-bc1f-aaa1e0e222b4ofusifik/croots/recipe/bottleneck_1657175564045/work
brotlipy==0.7.0
certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_477u68wvzm/croot/certifi_1671487773341/work/certifi
cffi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_1b0qzba5nr/croot/cffi_1670423213150/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
chart-studio==1.1.0
click==7.1.2
clikit==0.6.2
cmdstanpy==1.1.0
colorama==0.4.6
comm @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_0b9r9i3b7k/croot/comm_1671231125581/work
commonmark==0.9.1
competitions==0.1.1
conda==23.1.0
conda-content-trust @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_0afea0f9-bbf5-446c-8d60-8151cc05b029p0nco1nn/croots/recipe/conda-content-trust_1658126375910/work
conda-package-handling @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_f5r7ncch6s/croot/conda-package-handling_1672865026931/work
conda_package_streaming @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_619dxy_gif/croot/conda-package-streaming_1670508154637/work
contourpy==1.0.7
convertdate==2.4.0
crashtest==0.3.1
cryptography @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_19cvzxmeb9/croot/cryptography_1677533085498/work
cycler==0.11.0
Cython==3.0.0
debugpy @ file:///Users/builder/ci_310/debugpy_1642501698574/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml==0.7.1
dill==0.3.6
discord.py==2.3.2
distlib==0.3.6
dj-database-url==2.0.0
Django==4.2.3
django-heroku==0.3.1
docstring-to-markdown==0.11
entrypoints @ file:///opt/concourse/worker/volumes/live/5eb4850e-dcbc-41ad-5f22-922bac778f70/volume/entrypoints_1649926457041/work
ephem==4.1.4
et-xmlfile==1.1.0
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastapi==0.101.0
fastjsonschema==2.16.3
ffmpy==0.3.1
filelock==3.10.7
flake8==6.0.0
Flask==2.2.3
fonttools==4.39.2
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.6.0
fundamentalanalysis==0.2.14
gradio==3.10.1
h11==0.12.0
holidays==0.29
httpcore==0.15.0
httpstan==4.10.0
httpx==0.24.1
huggingface-hub==0.10.1
hugo==0.5.2
idna @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_00jf0h4zbt/croot/idna_1666125573348/work
importlib-resources==6.0.0
inflection==0.5.1
ipykernel @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_4dybncc18w/croot/ipykernel_1671488388285/work
ipython @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_5d1j6t_z43/croot/ipython_1676584167910/work
ipython-genutils==0.2.0
isoduration==20.11.0
isort==5.12.0
itsdangerous==2.1.2
jedi @ file:///opt/concourse/worker/volumes/live/18b71546-5bde-4add-72d1-7d16b76f0f7a/volume/jedi_1644315243726/work
Jinja2==3.1.2
joblib==1.2.0
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter_client @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_dfnfn9c33q/croot/jupyter_client_1676329090115/work
jupyter_core @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_cdq4mx8fk2/croot/jupyter_core_1676538594191/work
jupyter_server==2.5.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterthemes==0.20.0
kaggle==1.5.16
kiwisolver==1.4.4
lazy-object-proxy==1.9.0
lesscpy==0.15.1
linkify-it-py==2.0.2
loguru==0.6.0
LunarCalendar==0.0.9
markdown-it-py==3.0.0
MarkupSafe==2.1.2
marshmallow==3.20.1
matplotlib==3.7.1
matplotlib-inline @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_9ddl71oqte/croots/recipe/matplotlib-inline_1662014471815/work
mccabe==0.7.0
mdit-py-plugins==0.4.0
mdurl==0.1.2
mistune==2.0.5
mkl-fft==1.3.1
mkl-random @ file:///opt/concourse/worker/volumes/live/a9eca864-069c-4240-73c8-4e51b036a10d/volume/mkl_random_1639994047876/work
mkl-service==2.4.0
more-itertools==10.0.0
mpmath==1.3.0
multidict==6.0.4
mysql-connector-python==8.0.32
nbclassic==0.5.3
nbclient==0.7.2
nbconvert==7.2.10
nbformat==5.8.0
nest-asyncio @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_64pfm74mxq/croot/nest-asyncio_1672387129786/work
networkx==3.1
nltk==3.8.1
notebook==6.5.4
notebook_shim==0.2.2
npm==0.1.1
numexpr @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_cef3ah6r8w/croot/numexpr_1668713880672/work
numpy @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_8cgikbzvtd/croot/numpy_and_numpy_base_1672336184666/work
openai==0.27.4
openpyxl==3.1.2
optional-django==0.1.0
orjson==3.9.4
packaging @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_bet5qdixgt/croot/packaging_1671697440883/work
pandas==1.4.2
pandocfilters==1.5.0
paramiko==3.3.1
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pastel==0.2.1
patsy==0.5.3
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.4.0
platformdirs @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_7fs8_2xgrm/croots/recipe/platformdirs_1662711383474/work
plotly==5.14.1
pluggy @ file:///opt/concourse/worker/volumes/live/8277900c-164a-49c8-6f2a-f55c3c0154be/volume/pluggy_1648042581708/work
ply==3.11
pnpm==1.0.14
prometheus-client==0.16.0
prompt-toolkit @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_82emz7mook/croot/prompt-toolkit_1672387300396/work
prophet==1.1.4
protobuf==3.20.3
psutil @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_c9b604bf-685f-47f6-8304-238e4e70557e1o7mmsot/croots/recipe/psutil_1656431274701/work
psycopg2==2.9.5
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pycodestyle==2.10.0
pycosat @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_ebsmghz9nu/croot/pycosat_1666805511853/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodome==3.18.0
pydantic==2.1.1
pydantic_core==2.4.0
pydocstyle==6.2.3
pydub==0.25.1
pyflakes==3.0.1
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
pygwalker==0.1.9.1
pylev==1.4.0
pylint==2.17.0
PyMeeus==0.5.12
PyNaCl==1.5.0
pyOpenSSL @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_6dweji2whw/croot/pyopenssl_1677607689781/work
pyparsing==3.0.9
pyrsistent==0.19.3
pysimdjson==5.0.2
PySocks @ file:///Users/builder/ci_310/pysocks_1642536366386/work
pystan==3.7.0
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==1.0.0
python-json-logger==2.0.7
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.1
python-multipart==0.0.6
python-slugify==8.0.1
pytoolconfig==1.2.5
pytz==2022.7.1
PyYAML==5.4.1
pyzmq==25.0.2
Quandl==3.7.0
redis==4.5.4
redlines==0.3.0
regex==2023.3.23
requests @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_b9lic17gbj/croot/requests_1678709739389/work
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rglob==1.7
rich==9.13.0
rope==1.7.0
ruamel.yaml @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_7de1zqcaou/croot/ruamel.yaml_1666304553877/work
ruamel.yaml.clib @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_c7s0zxy4t2/croot/ruamel.yaml.clib_1666302244557/work
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
Send2Trash==1.8.0
setuptools-git==1.2
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn==0.0.post1
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.4
spotipy==2.23.0
sqlparse==0.4.4
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starlette==0.27.0
statsmodels==0.13.5
style==1.1.0
sympy==1.12
tabulate==0.9.0
tenacity==8.2.2
terminado==0.17.1
text-unidecode==1.3
threadpoolctl==3.1.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
toolz @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_a7gkswah88/croot/toolz_1667464082910/work
torch==2.0.1
torchvision==0.15.2
tornado @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_1fimz6o0gc/croots/recipe/tornado_1662061695695/work
tqdm @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_2adqcbsqqd/croots/recipe/tqdm_1664392689227/work
traitlets @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_0dtilxc0bw/croot/traitlets_1671143889152/work
typing_extensions==4.7.1
uc-micro-py==1.0.2
ujson==5.7.0
update==0.0.1
uri-template==1.2.0
urllib3 @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_4cyi6_u2vj/croot/urllib3_1673575523861/work
uvicorn==0.23.2
virtualenv==20.21.0
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webargs==8.3.0
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
websockets==11.0.3
Werkzeug==2.2.3
whatthepatch==1.0.4
whitenoise==6.5.0
wrapt==1.15.0
XlsxWriter==3.1.2
yapf==0.32.0
yarl==1.8.2
zstandard @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_40ayfv1xn6/croot/zstandard_1677014126754/work
